<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kevin&Dallyn</title>
  </head>
  <body>
    <div class="nav-bar">
      <header class="site-header">
        <h2 class="site-names">Kevin & Dallyn | An Engagement</h2>
        <h5 class="nav-btns">Log In | Home</h5>
      </header>
    </div>
  </body>
</html>
