body {
    margin-top: 52px;
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 80%;
    background-position: left bottom;
    max-width: 100%;
    max-height: 2000px;
    font-family: 'source Serif Pro', serif;
    
}

h2 {
    color: #506C0D;
    text-shadow: 1px 1px 1px #ffffff;
}

a {
    text-decoration: none;
    color:#506C0D;
}

.navbar {
    font-family: 'source Serif Pro', serif;
}

.images {
    display: block;
    box-shadow: 2px 2px 5px #506C0D;
    max-width: 50%;
    max-height: 550px;
    margin-top: 40px;
    margin-bottom: 120px;
}

.site-names {
    font-weight: lighter;
    margin-left: 30px;
    display: inline;
}