body {
    margin-top: 32px;
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 80%;
    background-position: left bottom;
    max-width: 100%;
    max-height: 2000px;
}

h2 {
    color: #506C0D;
    text-shadow: 1px 1px 1px #ffffff;
}

a {
    text-decoration: none;
    color:#506C0D;
}

.site-names {
    font-weight: lighter;
    margin-left: 30px;
    display: inline;
}

.img-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-align-content: center;
    align-content: center;
 }

.engage-img {
    box-shadow: 2px 2px 5px #506C0D;
    max-width: 60%;
    max-height: 550px;
    margin-top: 40px;
    margin-bottom: 120px;
}

#nav-btns {
    z-index: 1;
    margin-left: 44%;
    display: inline;
}

#header-underline {
    z-index: -1;
    position: relative;
    width: 102%;
    height: 120px;
    margin-top: -20px;
    margin-left: -10px;
    margin-right: -10px;
    opacity: .8;
}